body{
  margin-top: 5px;
  background-color: white;
}
.calendar {
  width: 95%;
  margin: auto;
  font-size: 18px;
  background-color: burlywood;
  
}

.calendar tr,
.calendar td {
  border: 1px solid black;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 20px;
}

.calendar td {
  width: 200px;
  height: 150px;
  padding: 20px 0px 0px 5px;
}

.month {
  font-size: 35px;
}

.date {
  font-size: 20px;
}

ul {
  height: 100%;
  padding: 0px 5px 0px 20px;
}

a {
  color: green;
  text-decoration: none;
}

.left {
  float: left;
  margin-left: 2%;
  color: white;
}

.right {
  float: right;
  margin-right: 2%;
  color: white;
}

.btn {
  outline: none;
  color: white;
  background-color: white(51, 168, 214);
  box-shadow: 0 0 0 0; 
}

.clearfix {
  margin: 10px;
}

.form {
  margin: auto;
}

.form input,
.form select,
.form textarea {
  border-radius: 5px;
  border: 1px solid #17a2b8;
  outline: none;
  background: none;
  padding: 5px;
  width: 100%;
}

.new{
  background-color: rgb(16, 227, 235);
}
